/* footer css */
.footer {
    background-image: linear-gradient(to bottom, #16222a, #3a6073) !important;
    color: #f8f6fa;
}

.col-12 .footer-logo {
    width: 16rem;
    border: 1px solid #f8f6fa;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

.footer-text {
    font-size: 1.2rem;
    line-height: 1.5;
}

.list-unstyled li a {
    font-size: 1.2rem;
    color: #f8f6fa;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.social-links .social-icon {
    color: #f8f6fa;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.social-links .social-icon:hover {
    transform: scale(1.3);
}

.copy-right {
    font-size: 1.25rem;
    color: #f8f6fa;
}