/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

body,
html {
    background-color: #E9E9E6;
    color: #111;
}

/* Button Css for All Buttons */
.btn {
    background-color: #19589C;
    color: #E9E9E6;
    border: none;
}

.btn:hover {
    background-color: #19589C;
    color: #E9E9E6;
}

/* Sidebar Hover & Active States */
.hover-effect {
    transition: all 0.2s ease-in-out;
}

.hover-effect:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 1.5rem;
    color: #0dcaf0 !important;
}

.nav-link.active {
    background-color: #0d6efd;
    color: #fff !important;
    font-weight: 600;
}