.container .img-fluid {
    background-color: #19589C;
}

.container .img-fluid {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    transition: transform 0.6s ease;
}

.container .img-fluid:hover {
    transform: scale(1.05);
}