.movie-con {
    display: flex;
    flex-direction: row;
}

.movies-details .movie-rate {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
}

.details-img{
    width: 20rem;
    height: 25rem;
    display: flex;
    margin: auto;
}

.btn-rate,
.btn-book {
    text-decoration: none;
}

.cast-img,.crew-img {
    width: 70%;
    height: 70%;
}


@media (min-width: 768px) {
    .movies-section .img-fluid{
        width: 18rem;
    }
}