.footer {
    background-color: #19589C;
    color: #E9E9E6;
}

hr {
    border: 1px solid #E9E9E6;
}

.social-icon {
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}