.hero-con {
    width: 60%;
    margin: auto;
}

.slider-item {
    position: relative;
}

.slider-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 34, 42, 0.5);
    z-index: 1;
}

.slider-item img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.card-img-top {
    height: 25rem;
}
