.custom-hr {
    border: 1px solid #19589C;
}

.card-img-top {
    height: 25rem;
}

/* Catagory Section */
.catagory-section .row .col-6 img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.catagory-section .img-link {
    text-decoration: none;
    color: #19589C;
}