.custom-hr {
    border: 1px solid #19589C;
}

.card-img-top {
    height: 25rem;
}

/* Catagory Section */
.category-card {
    background: #19589C;
    border: 2px solid transparent;
    border-radius: 12px;
}

.category-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #E9E9E6;
}

.category-text {
    color: #E9E9E6;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .category-img {
        width: 80px;
        height: 80px;
    }
}