/* Navbar Styles */
header {
    position: sticky !important;
    top: 0;
    z-index: 10;
}

.navbar {
    background-color: #19589C;
    color: #E9E9E6;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #E9E9E6;
}

/* Offcanvas Styles */
.offcanvas, #offcanvasExample {
    background-color: #19589C;
    color: #E9E9E6;
    width: 20rem;
}

#offcanvasExample{
    opacity: 0.93;
}

.offcanvas-header {
    color: #E9E9E6;
    font-size: 1.8rem;
}

.offcanvas-body i .nav-link {
    color: #E9E9E6;
    font-size: 1.2rem;
    border-bottom: 1px solid #E9E9E6;
    padding-bottom: 10px;
}

.offcanvas-body .sidebar-a {
    padding-bottom: 5px;
    border-bottom: 1px solid #E9E9E6;
}

.offcanvas-body .sidebar-btn a {
    width: 8rem;
    color: #E9E9E6;
    font-size: 1.2rem;
}

.offcanvas-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.offcanvas-footer p {
    font-size: 1rem;
}

/* Modal Styles */
.modal-backdrop.show {
    z-index: -10 !important;
}