/* Navbar Styles */
header {
    position: sticky !important;
    top: 0;
    z-index: 10;
}

.navbar {
    background-color: #19589C;
    color: #E9E9E6;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #E9E9E6;
}



.offcanvas-bg{
    background: #19589C;
    
}