/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

body,
html {
    background-color: #E9E9E6;
    color: #000000;
}

.btn {
    background-color: #19589C;
    color: #E9E9E6;
    border: none;
}

.btn:hover {
    background-color: #19589C;
    color: #E9E9E6;
}

.btn-register,
.btn-login {
    background-color: #E9E9E6;
    color: #19589C;
    border: 1px solid #19589C;

}

.search-btn {
    background-color: #19589C;
    color: #E9E9E6;
}

.back-btn {
    border: 1px solid #19589C;
    color: #19589C;
}

.movies-card {
    transition: transform 0.3s ease;
}

.movies-card:hover {
    transform: scale(1.02);
}

/* Offer Section */
.offer-section {
    background-color: #19589C;
    color: #E9E9E6;
    padding: 60px 0;
}

.offer-img {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    cursor: pointer;
}

.offer-item {
    transition: transform 0.3s ease;
}

.offer-item:hover {
    transform: scale(1.01);
}

/* Index Page CSS */
.features-section {
    background-color: #19589C;
}

/* Booking Page Css */
.booking-header {
    background-color: #19589C;
    color: #E9E9E6;
}

.payment-header {
    background-color: #19589C;
}